:root {
	--primary: #EA40A4;
	--business: #3A82EE;
	--personal: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #A3333D;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}


h2.greeting{
  color:black;
}

input.name-input{
  width: 200px;
  border:none;
}

input.note-card{
  width: 350px;
  height: 250px;
  
}


.note-container{
  display:flex;
  margin:60px;
}


label {
  display:flex;
  padding:20px;
}


.cat-heading{
  position: relative;
  left:20px;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--business);
	box-shadow: var(--business-glow);
}

.bubble.tech {
	border-color: red;
	box-shadow: red;
}

.bubble.food {
	border-color: blue;
	box-shadow: blue;
}

.bubble.fitness {
	border-color: limegreen;
	box-shadow: limegreen;
}

.bubble.other {
	border-color: black;
	box-shadow: black;
}

.bubble::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--business);
	box-shadow: var(--business-glow);
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

.bubble.tech::after {
	background-color: red;
	box-shadow: red;
}

.bubble.food::after {
	background-color: blue;
	box-shadow: blue;
}

.bubble.fitness::after {
	background-color: limegreen;
	box-shadow: limegreen;
}

.bubble.other::after {
	background-color: black;
	box-shadow: black;
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}


.btn{
  position:relative;
  left:10%;
  top:-40px;
  width:80%;
  height:50px;
  color:white;
  background-color: black;
  border-radius: 20px;
}

.note-container h3{
  font-size: 3em;
  position: relative;
  left:50%;
}




.note-container .container {
	margin: 3rem 0;
  position: relative;
  left:-50px;
  width:100%;
  display:grid;
} 

.note-container .note-item {
  display: flex;
  flex-direction: row;
	background-color: lightgray;
	padding: 3rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}



.note-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.note-item .note-content {
	flex: 1 1 0%;
}

.note-item .note-content input {
	color: var(--dark);
  border:none;
  background-color: lightgray;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
  position: relative;
  top:20px;
	font-size: 1.125rem;
}

.note-item .actions {
	display: flex;
	align-items: center;
}

.note-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.note-item .actions button:hover {
	opacity: 0.75;
}

.note-item .actions .edit {
	margin-right: 0.5rem;
	background-color: var(--primary);
}

.note-item .actions .delete {
	background-color: var(--danger);
  position:relative;
  top:40px;
}

.note-item.done .note-content input {
	text-decoration: line-through;
	color: var(--grey);
}


